/* GLOBAL */

*{
box-sizing: border-box;
margin: 0;
padding: 0;

}

.clearfix::after {
content: "";
display: table;
clear: both;
}


body{
    min-width: 1444px;
}

.main_font{
    font-family: 'Open Sans',sans-serif;
}

.main_container_size{
    width: 80%;
    margin: 0 auto;
}

.small_container_size{
    width: 70%;
    margin: 0 auto;
}

.underline{
    text-decoration: underline;
    cursor: pointer;
}

/* HEADER */

header{
        height: 75px;
}

.container_header{
    line-height: 29px;
   padding: 25px 25px;
   word-spacing: 30px;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 75px;
}

.container_header li{
    display:inline-block;
}
.container_header a{
    text-decoration: none;
    color: black;
}

.container_header a:hover{
    box-shadow: 0px 3px;
    padding-bottom: 22px;

}
.header_structure{
    width: 50%;
}



.menu_format{
position: absolute;
}

.unite{
    word-spacing: 2px;
}

.header_right{
    float: right;
    height: 100%;
    text-align: right;
}

.header_logo,.header_logo > img,.header_structure ul{
    display: inline-block;
}

.header_logo{
        vertical-align: middle;
}

.header_structure ul{
    vertical-align: top;
}

.btn_bw{
    background-color: #0061FF;
    color: white;
    font-family: 'Open Sans',sans-serif;
    border: 0;
}

.btn_small{
    font-weight: 600;
    padding: 7px 20px;
}


.menu_format{
      display: none;
    position: absolute;
    background-color: white;
    min-width: 240px;
    z-index: 1;
    font-weight: 500;
    margin-top: 20px;
}

.menu_format p{
      color: black;
    padding: 7.5px 25px 7.5px 33px;
    text-decoration: none;
    display: block;
    word-spacing: normal;
    text-align: left;
    line-height: 1;
    cursor: pointer;
    margin: 7.5px 0;
}

.menu_format p:hover{
    background-color: #ddd;
}

.waterfall_menu{
        position: relative;
            padding-bottom: 22px;
}

.waterfall_menu:hover > .menu_format{
    display: block;
}

/* MAIN */

/* TOP MAIN */
.container_main{
    font-family: 'Open Sans',sans-serif;
}
   


.hero_title{
    font-size: 5.5rem;
    text-align: left;
    width: 100%;
    margin-bottom: 50px;
        margin-top: 23px;
}

.top_container{
    background-color: #B4D0E7;
    padding-bottom: 100px;
    margin-bottom: 200px;
    padding-top: 50px;
}


.hero_bottom{
    width: 400px;
    font-weight: 500;
}

.jumbo_image{
    float: right;
    height: 540px;
    width: 70%;
}

.btn_middle_hero{
 margin: 30px 0 10px 0;
    padding: 8px 11px;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    transition: 0.5s;
}


.btn_middle{
  margin: 30px 0 10px 0;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    transition: 0.5s;
}

.btn_middle:hover, .btn_middle_hero:hover,.btn_enterprise:hover{
    filter: brightness(135%);
    cursor: pointer;
}


.middle_format{
margin-bottom: 10px;
}

.middle_format_more{
  margin-bottom: 32px;
}



.dim_arrow{
    font-size: 3rem;
    margin: 45px 0;
    color: black;
}

/* PLAN MAIN */

.business_plan_head > p{
    display: inline-block;
    margin: 40px 15px 20px 0;
    box-sizing: border-box;
}

.piano_main_title{
        font-size: 3rem;
}


.circle_empty{
    height: 18px;
    width: 18px;
    margin-right: 1px;
    display: inline-block;
    border: 1px solid #D2D2D5;
    border-radius: 50%;
    vertical-align: middle;
    margin-bottom: 1px;
    cursor: pointer;
}

.circle_border{
    height: 18px;
    width: 18px;
    margin-right: 1px;
    display: inline-block;
    border: 4.5px solid #0061FF;
    border-radius: 50%;
    vertical-align: middle;
    margin-bottom: 1px;
     cursor: pointer;
}



.piano_style{
    display: inline-block;
    width: 33%;
    font-weight: 700;
}
    .piano_format{
        padding-right: 30px;
    }

.piano_border{
    border: 1px solid;
    padding-bottom: 150px;
}
  

.desc_container, .tipo_piano{
    padding: 0 30px;
}

/* FORMATTAZIONE COLONNE */

.tipo_piano{
    text-align: center;
    padding: 10px 0;
}

.piano_title{
    padding: 30px 0 15px 0;
    font-weight: bolder;
    font-size: 1.8rem;
}

.piano_costo{
    font-weight: bolder;
    padding: 0 0 10px 0;
    }

.piano_durata{
    color: #A5AEB6;
    padding-bottom: 50px;
}

.piano_caratteristiche{
    padding-bottom: 25px;
}

.underline_blue{
   color: #0061FF;
   text-decoration: underline; 
   cursor: pointer;
   font-weight: 700;
}

.cut{
    width: 17%;
    margin: 35px 0 45px 0;
    border-color: #D0D0D3;
}

.benefit_title{
    font-weight: bolder;
    padding-bottom: 25px;
}

.benefit_list  li{
    padding-bottom: 20px;

}
.benefit_list{
    list-style: none;
}

li i{
    padding-right: 3px;
    color: #0061FF;
}

/* ENTERPRISE */

.enterprise{
    border: 1px solid;
    margin-top: 80px;
}

.enterprise_container{
    padding: 0 0 30px 20px;
}

.btn_enterprise{
    float:right;
     padding: 10px 30px;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    margin: -110px 35px 0 0;
    transition: 0.5s;
}

.costo_enterprise{
    font-size: 1.2rem;
}

/* CONTACT */

.contact{
    margin: 130px auto 6px auto;
}

.contact_title{
    font-size: 1.8rem;
}


.contact_image{
    height: 550px;
    width: 700px;
}


.contact_text{
    margin: 45px 0 110px 30px;
    float: right;
    width: 43%;
}



.contact_text > p{
    margin: 30px 0 20px 0;
    font-weight: 700;
}

.border_white_btn{
      background-color: white;
    border: 1px solid;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 15px;
    cursor: pointer;
}

/* OPERATION */

.operation{
    margin-top: 70px;
}

.operation_rows{
    height: 50%;
    margin-bottom: 100px;
}

.operation_coloumn{
    width: 33%;
    display: inline-block;
    padding-right:50px;

}

.operation_coloumn > img{
    height: 275px;
    width: auto;
}

.operation_title{
    text-align: center;
    margin-bottom: 40px;
        font-size: 2.3rem;
    font-weight: bolder;
}

.operation_desc_title{
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

.operation_desc_dett{
font-weight: 500;
font-size: 1.3rem;
}

/* TEAM LOGHI */


.loghi_title{
font-size: 2.7rem;
text-align: left;
}

.container_title > p{
    margin: 20px 0 40px 0;
}


.loghi_left, .loghi_center, .loghi_right{
display: inline-block;
height: 100%;
}
.loghi_image{
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(207deg) brightness(107%) contrast(101%);
  height: 150px;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loghi_imageC{
 height: 60px;
}
    

.loghi_container{
    background-color: #F5F5F5;
}

.loghi_center{
     width: 764px;
}


.loghi_format{
    height: 283px;
    width: 283px;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-bottom: -5px;
}

    .format_image{
    width: 50%;
    height: 15%;
    }

    


.loghi_citazione{
    margin-top: 45px;
}

.loghi_text{
margin-top: 60px;
}

.loghi_sep{
    margin-top: 40px;
}

.center_container{
    font-weight: 700;
    padding: 37px 40px 0px 40px;
}

/* LOGHI COLORI */

.color-gray{
    background-color: #F5F5F5;
    display: inline-block;
}

.color-green{
    background-color: #A2D39B;
    box-sizing: border-box;
    border: 10px solid #D0E9CD;
}

.color-amarant{
    background-color: #61082B;
        margin-left: -5px;
}

.color-azure{
    background-color: #0093CE;
}

.color-red{
   background-color: #FF1C1C;
       margin-left: -5px; 
}




.color-redark{
   background-color: #D5001F; 
}

.color-azure_light{
  background-color: #B4D0E7;  
      margin-left: -5px;
}

.color-blue{
    background-color: #0D2481;
}

.color-yellow{
    background-color: #FFD830;
        margin-left: -5px;
}


/* PROVA GRATUITA */

.prova_gratuita{
    background-color: #B4D0E7;
}

.prova_title{
   color: #61082B; 
   font-size: 2.5rem;
}

.prova_container{
    padding: 100px 0;
    height: 300px;
    
}
.prova_title_container{
float: left;
}


.prova_btn_container{
    float: left;
    margin: 10px 0 0 550px;
}
.prova_btn_container > a{
        color: black;
    text-decoration: none;
    padding: 5px 45px;
    background-color: white;
    font-weight: 700;
    text-align: center;
}

/* DOMANDE */

.domande_container{
    font-size: 1.3rem;
    margin-top: 130px;
}

.domande_format > hr{
    margin: 35px 0;
}

.domande_format > .domande_text{
    font-weight: 700;
    display: inline-block;
}

.symbol{
    font-size: 1.3rem;
    font-weight: 700;
    display: inline-block;
      margin-left: 222px;
}

.disappear_text{
    padding: 20px 0;
    font-weight: 500;
    display: none;
    color: #A5AEB6;
}

.domande_format:hover  .disappear_text{
    display: block;
}

.domande_format:hover  .symbol{
    transform: rotate(180deg);
}


/* Footer */

.site_footer{
    background-color: black;
    height: 560px;
}

th, td{
    color: white;
    font-size: 1.3rem;
}

th, td:not(.no_right){
    padding-right: 90px;
}

.menu_text > td:hover{
      text-decoration: underline;
}

.footer_table{
padding-top: 100px;
}

th{
    text-align: left;
    padding-bottom: 30px;
}

.end_footer{
    border-color: #777777;
    margin-top: 130px;
    width: 12%;
}

.language{
    color: #666666;
    margin-top: 40px;
}

td > span{
    cursor: pointer;
}